body{
    background-image: url("./images/community-background.avif");
    background-repeat: no-repeat;
    background-size: cover;
}
div {
    position:absolute;
    top:476px;
    left:40px;
    transform: scale(1.5);
}

.car-body{
    width:300px;
    transition: transform ;
    transition-duration:30s ;
    transition-timing-function: linear;
}

.front-wheel{
    width: 42px;
    position: absolute;
    top:86px;
    left:197px;
    border-radius: 50%;
    transition: transform;
    transition-duration: 30s;
    transition-timing-function: linear;
}


.rear-wheel{
    width: 42px;
    position: absolute;
    top:88px;
    left:61px;
    border-radius: 50%;
    transition:  transform;
    transition-duration: 30s;
    transition-timing-function: linear;
}



div:hover .car-body {
    transform: translateX(1000px);
}

div:hover .wheel {
    transform: translateX(1000px) rotate(8000deg);
}